<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'beltExam/show.css'%}" type="text/css">

        <meta charset="utf-8">
        <title>Show Item</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="main">
                <h2>The Wish is: <span id="big">{{ product.item }}<span> </h2>
                <hr>
                <h2>Who Have The Same Wish!</h2>
                <br>
                <br>
                {% for user in users %}

                <h3>Name: <span class="brown">{{ user.first_name }}</span></h3>    <h3>Want to know more about wish? contact email is <span class="brown">{{ user.email}}</span> </h3>
                    <br>
                    <br>
                {% endfor %}
                <br><br><br><br>
                <hr>
                <a href="/dashboard">Home</a>
                <a class="logout" href="/logout">Logout</a>
            </div>
            <div class="corner">

            </div>
        </div>
    </body>
</html>
